body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e555c;
}

.App {

    text-align: center;
    margin: auto;
    color: white;
}

#break-zone {
    font-size: 25px;
    width: 250px;
    display: inline-block;
    
}


#break-length {
    display: inline-block;
    width: 30px;
}

button {
    margin: 15px;
    font-size: 20px;
}

#session-zone {
    font-size: 25px;
    width: 250px;
    display: inline-block;
}

#session-length {
    display: inline-block;
    width: 30px;
}

#time-display { 
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    border: 5px solid #13353a;
    height: 160px;
    width: 270px;
    border-radius: 50px;
   
}

#timer-label {
    margin: 10px;
    font-size: 35px;
}

#time-left {
    font-size: 70px;
}

#time-control {
    height: 50px;
}